fastapi
uvicorn[standard]
python-multipart
pydantic

numpy
opencv-python
pillow

pypdf
pdf2image
pytesseract

paddleocr
paddlepaddle

langchain
langchain-community
chromadb
sentence-transformers

openai
